* {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #04AA6D;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}

main {
    padding-top:200px;
    padding-left: 40px;
    padding-right:40px;
}

@media screen and (max-width: 800px) {
    main {
      padding-top: 260px;
    }
  }

.title {
    font-weight: 800;
    padding: 10px;
}

nav li {
    display: inline-block;
    padding: 20px 30px;
}

nav a {
    color: inherit;
}

nav li:hover {
    background-color: white;
    color:#04AA6D;
}

.logo {
    width: 50px;
    height: auto;
    padding: 20px 10px 0px 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
    padding: 20px 0px;
    color:#04AA6D;
}

table {
    width: 100%;
}

th, td {
    border: 1px solid transparent;
    text-align: left;
    padding: 10px;
}

thead {
    background-color: #04AA6D;
    color: white;
}